@import "../../sass/mixins";

//choice - radio
.main__filter-selections {
    margin: 0;
    padding: 0;
    width: 255px;
    margin-top: 24px;
    background-color: #fff;
    border-radius: 10px;
}

.main__filter-content {
    margin: 0;
    padding: 0;
    width: 181px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 24px 0;
    margin: 0 auto 14px 24px;
}

.filter__label {
    margin: 0;
    padding: 0;
    margin-bottom: 14px;
}

.filter__span {
    padding: 5px 16px 6px 16px;
    font-family: "Jost", sans-serif;
    background-color: #f2f4ff;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    border-radius: 10px;
    margin-right: 8px;

    &:nth-child(4) {
        margin-right: 0px;
    }
    
    &:nth-child(5),
    &:last-child {
        margin-right: 0;
    }
}

.filter__radio:hover + .filter__span {
    background-color: #CFD7FF;
    cursor: pointer;
}

.filter__radio:checked +  .filter__span {
    background-color: #4661E6;
    color: #fff;
}

// Roadmap

.filter__roadmap {
    width: 255px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 24px;
}

.filter__roadmap-content {
    padding: 19px 24px 24px 24px;
}

.filter__roadmap-head {
    width: 207px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.filter__roadmap-title {
    margin: 0;
    padding: 0;
    @include text (18px, 700, 26px);
    letter-spacing: -0.25px;
    color: #3A4374;
}

.filter__roadmap-link {
    margin: 0;
    padding: 0;
    @include text (13px, 600, 19px);
    text-decoration: underline;
    color: #4661E6;
}

.filter__roadmap-link:hover {
    color: #8397F8;
    cursor: pointer;
}

.filter__roadmap-list {
    @include reset-list;
    margin-top: 24px;
}

.filter__roadmap-item {
    display: flex;
    align-items: center;
}

.filter__roadmap-item::before {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 16px;
    content: '';
}

.filter__roadmap-item:first-child::before {
    background-color: #F49F85;
}

.filter__roadmap-item:nth-child(2)::before {
    background-color: #AD1FEA;
}

.filter__roadmap-item:last-child::before {
    background-color: #62BCFA;
}


.filter__roadmap-item-label {
    margin-right: auto;

    &:hover {
        cursor: pointer;
    }
}

.filter__roadmap-radio:checked + .filter__roadmap-span {
    font-weight: bold;
}