@import "../../sass/mixins";

.header__container {
    width: 825px;
    margin: 0 auto;
    background-color: #373F68;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.header__img {
    padding: 24px 0;
    margin-left: 24px;
    margin-right: 16px;
}

.header__suggestion {
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    margin-right: 38px;
}

// .sort-modal {
//     max-width: 255px;
//     width: 100%;
//     // margin-top: 28px;
//     display: none;
//     flex-direction: column;
//     position: absolute;
//     top: 88px;
//     left: 220px;

//     background: #FFFFFF;
//     box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.350492);
//     border-radius: 10px;
// }


.sort-modal__btn {
    @include reset-btn;
    @include text (16px, 400, 23px);
    width: max-content;
    text-align: left;
    padding: 12px 0 12px 24px;
    width: 100%;

    color: #647196;
    position: relative;

    &:hover {
        color: #AD1FEA;
    }
}

.header__sort-btn {
    @include reset-btn;
    display: flex;
    align-items: baseline;
}

.header__sort-btn-text {
    @include text (14px, 400, 20px);
    color: #F2F4FE;
    mix-blend-mode: normal;
    opacity: 0.75;
    margin-right: 9px;

    & span {
        font-weight: 600;
    }
}

// header add feedback btn

.add-feedback-btn {
    @include reset-btn;
    @include text (14px, 700, 20px);
    font-style: normal;
    padding: 12.5px 25px 11.5px 24px;
    background-color: #AD1FEA;
    color: #f2f4fe;
    border: none;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
        background-color: #C75AF6;
    }
}

.header__add-feedback-btn {
    margin-right: 16px;
    margin-left: auto;
}



// active

// .header__sort-btn-img--active {
// }

.header__sort-btn--active .header__sort-btn-img {
    transform: rotate(180deg);
}

.sort-modal--active {
    display: flex;
}

.header__sort-btn-text {
    @include text (14px, 400, 20px);
    color: #F2F4FE;
    mix-blend-mode: normal;
    opacity: 0.75;
    margin-right: 9px;

    & span {
        font-weight: 600;
    }
}