@import "../../sass/mixins";

* {
    margin: 0;
    padding: 0;
}

.edit-post__container {
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

.edit-post__modal {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 45px;
    position: relative;
}

.edit-post__mark {
    // display: flex;
    // width: 16px;
    // height: 16px;
    // padding: 20px 20px;
    // align-items: center;
    // justify-content: center;
    // border-radius: 50%;
    position: absolute;
    top: -20px;
    left: 62px;
}

.edit-post__modal-content {
    padding: 40px 42px 35px 42px;
}

.edit-post__title {
    @include text (24px, 700, 35px);
    color: #3A4374;
    margin-bottom: 20px;
}

.edit-post__label-title {
    @include text (14px, 700, 20px);
    color: #3A4374;
}

.edit-post__label-desc {
    @include text (14px, 400, 20px);
    margin-bottom: 6px;
}

.edit-post__title-input,
.edit-post__title-input-empty {
    border: none;
    background-color: #F7F8FD;
    border-radius: 5px;
    width: 100%;
    height: 48px;
    padding: 0 20px;
    margin-bottom: 30px;

    &:focus {
    outline: 1px solid #4661E6;
    color: #3A4374;
    }

    &:hover {
    outline: 1px solid #4661E6;
    }
}

.edit-post__title-input-empty {
    outline: 1px solid red;
}

.edit-post__category-btn-empty .edit-post__label-title::after {
    display: inline-block;
    width: 10px;
    height: 10px;
    content: '';
    color: black;
    background-color: blue;
}


.edit-post__category-btn,
.edit-post__category-btn-empty {
    @include reset-btn;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 24px;
    background-color: #F7F8FD;
    border-radius: 5px;
    margin-bottom: 30px;

    &:hover {
    outline: 1px solid #4661E6;
    }

    &::after {
        display: inline-block;
        width: 8px;
        height: 4px;
        background: url(../../assets/img/category-down-vector.svg) center center;
        content: '';
    }
}

.edit-post__category-btn-empty {
    outline: 1px solid red;
}

.category-btn--active::after {
    transform: rotate(180deg);
}


.edit-post__details-textarea,
.edit-post__details-textarea-empty {
    width: 100%;
    height: 96px;
    text-align: justify;
    border: none;
    background-color: #F7F8FD;
    padding: 20px 24px;
    resize: none;
    margin-bottom: 30px;

    &:focus {
        outline: #4661E6;
        color: #3A4374;
    }
}

.edit-post__details-textarea-empty {
    outline: 1px solid red;
}


.edit-post__cancel-btn {
    @include reset-btn;
    @include text (14px, 700, 20px);
    color: #F2F4FE;
    padding: 12.5px 24px 11.5px;
    background-color: #3A4374;
    border-radius: 10px;
    margin-left: 203px;
    margin-right: 16px;

    &:hover {
        background-color: #656EA3;
    }
}

.edit-post__cancel-btn--active {

    &::after {
        transform: rotate(180deg);
    }
}

.edit-post__submit-btn {
    @include reset-btn;
    @include text (14px, 700, 20px);
    color: #F2F4FE;
    padding: 12.5px 24px 11.5px;
    background-color: #AD1FEA;
    border-radius: 10px;

    &:hover {
        background-color: #C75AF6;
    }
}

.category-modal {
    display: none;
    top: 319px;
}

.category-modal--active {
    display: flex;
}

.title-empty--active,
.category-empty--active,
.textarea-empty--active {
    display: block;
    font-size: 12px;
    color: red;
    position: absolute;
}

.title-empty,
.category-empty,
.textarea-empty {
    display: none;
}

.title-empty--active {
    top: 190px;
}

.category-empty--active {
    bottom: 270px;
}

.textarea-empty--active {
    bottom: 98px;
}